footer{
    width: 100%;
    background-color:#6278f7;
}

.rodape-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5em 0;
    flex-wrap: wrap;
}

.social-medias{
    margin-left: 5em;
    display: flex;
}

.social-medias ul{
    list-style-type: none;
    display: flex;
}

.social-medias ul li{
    display: flex;
    margin: 0 1em;
}

.logo-organo{
    display: flex;
    margin: auto;
}

.descricao{
    display: flex;
    margin: auto;
    margin-right: 8em;
}

.descricao p{
    color: #f5f5f5;
    font-size: 1.2em;
}
