.rodape-content{
    background-color:#5068f1;
    padding: 3em;
    display: flex;
    justify-content: space-between;
}

.redes-sociais{
    display: flex;
    align-items: center;
}

.redes-sociais img{
    margin: 0 1em;
}

.descricao{
    color: #f5f5f5;
}

.descricao p{
    font-size: 1.2em;
}

.descricao span{
    color: #0f29be;
}